body {font-family:arial, helvetica, sans-serif; font-size:.84em; /*line-height:.84em; */color:#333; margin:0; padding:0; background:#fff; }
body.content p {font-size:1em; line-height:1.3em; }
a, a:link, a:active, a:visited {color:#333; text-decoration:none; }
a:hover {color:#ff3300; }
img {border:none; }
h3 {font-weight:normal; font-size:.84em; line-height:1.3em; padding:0; margin:0; }

/* header */
#header div {width:920px; margin:0 auto; padding:0; }
#header {font-size:10px; color:#868686; padding:0; margin:0 0 1.5em 0; height:21px; background:transparent; }
#header a, #header a:link, #header a:active, #header a:visited {color:#868686; text-decoration:none; }
#header a:hover {color:#868686; }
#header h1 {text-indent:-9999em; float:left; height:1px; padding:0; margin:0; }
#header ul {margin:0; padding:0; }
#header ul li {height:16px; list-style:none; float:left; display:inline; margin:0; padding:5px 1em 0 1em; border-right:1px solid #cac9c9; }
#header ul li.sitecredits {float:right; margin:0 0 0 1em; padding:5px 0 0 1em; border:none; }

#titlebar {position:fixed; bottom:4em; width:100%; height:57px; padding:0; /*padding:18px 0 14px 0; */background:#31A01B; left:0; opacity:.9; filter:alpha(opacity=90); z-index:2; }
#logo {color:#fff; margin:0 10px 0 0; padding:10px 0 0 0; float:left; width:140px; height:35px; }
#title-content {position:relative; width:980px; margin:0 auto; padding:0; }
#titlebar h2 {color:#fff; font-size:.9em; font-weight:bold; line-height:1em; margin:0; padding:24px 0 0 0; float:right; }
#titlebar p {float:right; color:#fff; font-size:.9em; font-weight:bold; line-height:1em; margin:0; padding:24px 0 0 0; }
#titlebar span {float:right; color:#fff; font-size:.85em; line-height:1em; padding:0 0 0 14px; margin:7px 0 0 1.5em; background:url(/images/check-off.gif) no-repeat left 1px; font-weight:bold; }
#titlebar a, #titlebar a:link, #titlebar a:active, #titlebar a:visited {color:#fff; text-decoration:none; }#titlebar a:hover {color:#fff; }
#titlebar ul#ack-box {position:absolute; bottom:-1.5em; background:url(/images/check-off.gif) no-repeat left 3px; right:140px; float:right; width:125px; padding:0 0 0 11px; margin:0; z-index:3; }
#titlebar ul li {list-style:none; font-size:.85em; line-height:1.2em; font-weight:bold; padding:1px 3px; background:#717171; color:#fff; }
#titlebar ul li:hover {background:#717171; }
#ack-box li {display:none; }
#ack-box li.categories {display:block; }
#titlebar ul#cat-box.show-urls {position:absolute; bottom:-30px !important; background:none !important; z-index:3; }
#titlebar ul#ack-box.show-urls {position:absolute; bottom:-30px !important; border:3px solid #fff; height:8em; line-height:1.5em; background:#717171 !important; width:400px; z-index:3; }
#titlebar ul#cat-box.show-urls li {display:block; border:3px solid #fff; border-top:none; padding:3px 2px; }
#titlebar ul#ack-box.show-urls li,#titlebar ul#ack-box.show-urls li.categories {display:inline; background:none; border:none; padding:2px; line-height:1.5em; }
#titlebar ul#ack-box.show-urls li.categories:after {content:': '; }
#titlebar ul#cat-box.show-urls li.categories {background:#717171; border-top:3px solid #fff; }

/* content */
#headlines {margin:0 auto; padding:0 0 200px 20px; }
#headlines ul {margin:.5em 30px .5em 30px; padding:0; list-style:none; }
#headlines li {line-height:1em; padding:3px 0 2px 0; margin:3px 0; }
#headlines li.category h2 {font-size:.9em; letter-spacing:.15em; margin:5em 2em 0 0; padding:.5em 0; color:#717171; text-transform:uppercase; border-bottom:1px solid #bebebe; }
#headlines li.description {font-size:.84em; line-height:1em; border:none; }
ul#deck li ul.sites {font-size:1.1em; padding:0 0 2em .5em; }
ul.sites li a,ul.sites li a:link,ul.sites li a:active,ul.sites li a:visited {padding:2px 5px; }
ul.sites li a:hover {color:#ff3300; padding:2px 5px; background#ffeee9; }
.full-post {display:none; }
.favicon {float:left; margin-left:-20px;  /* done this way because of the ie position bug */}
.row-clear {clear:left; width:100%; height:0; overflow:hidden; }

/* deck */
ul#deck {width:900px; margin:0 auto; }
ul#deck li.category {width: 220px; margin:0; padding:0; float:left; }
ul#deck ul {width: 200px; margin:0; padding:0; display:inline; }
p.description {display:none; }
div#deck{width:900px; margin:0 auto; display:block;}

h2.alt{font-size:16px;font-weight:normal;text-align:justify;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%; }
.clearfix {display: block; }
/* End hide from IE-mac */