{% extends "_base.html" %}

{% block content %}
    <h2 class="category">Portfolio
        {#<span style="float:right !important; "><script src="http://connect.fac.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.sidmitra.com" layout="button_count" show_faces="true" width="100" action="recommend" font="segoe ui"></fb:like></span>#}
    </h2>

        <br />
        <p>I now run a dev studio called <a href="http://www.cloudshuffle.com/">Cloudshuffle</a> that specializes in Web and Mobile apps. To find a more detailed portfolio or if you want to hire us, please visit us there. </p>

        <ul class="list">
            <li class=""><a href="http://turbotaxcpaselect.intuit.com"><strong>Turbotax CPA Select</strong></a> -  An app for Intuit, that helps you connect with a CPA to get your taxes done.</li>
            <li class=""><a href="http://www.ecomarket.com"><strong>Ecomarket</strong></a> -  An online marketplace for ecofriendly and ethical goods.</li>
            <li class=""><a href="http://www.knowyourbank.com"><strong>KnowYourBank</strong></a> - An app to help you get relevant financial information.</li>
            <li class=""><a href="http://www.teaspiller.com"><strong>Teaspiller</strong></a> - An online marketplace for tax experts.</li>
            <li class=""><a href="http://www.wisekangaroo.com"><strong>WiseKangaroo</strong></a> - To help students find tutors. Currently in beta.</li>
            <li class=""><a href="http:/usitility.pl"><strong>Usitility</strong></a> - A software marketplace and recommendation app.</li>
            <li class=""><a href="http://www.garnishbar.com"><strong>GarnishBar</strong></a> - social network, to share mixed drink recipes</li>
            <li class=""><a href="http://www.hubspot.com"><strong>Hubspot</strong></a> - Helping them build internal Grader tools(http://grader.com/)</li>
            <li class=""><a href="http://45sec.com"><strong>45 Sec</strong></a> - A customer feedback app (Web + Android + iPhone)</li>
            <li class=""><a href="http://www.turlytag.com"><strong>TurlyTag</strong></a> - An app that makes it easy to get your things back when they are lost.</li>
            <li class=""><a href="http://www.fratmusic.fm"><strong>Fratmusic</strong></a> - An online radio site with 1.3 million uniques a month.</li>
            <li class=""><a href="http://www.fertilityplanit.com"><strong>FertilityPlanit</strong></a> -  A meeting place for people who are seeking help related to fertility. </li>
            <li class=""><a href="http://www.emriq.com"><strong>Emriq</strong></a> - A web based medical records platform for small to medium clinics. </li>
            <li class=""><a href="http://www.compete.com"><strong>Compete Inc</strong></a> - Working with the inhouse development team at Compete.com for their internal analytics + segmentation app with clients like Google.</li>
            <li class=""><a href="http://agronor.ca"><strong>Agronor</strong></a> - A multilingual online farm management app.</li>
            <li class=""><a href="http://realtimemusic.biz/"><strong>Realtime Music Solutions</strong></a> - An online catalog for branded music software.</li>
            <li class=""><a href="http://loudfarm.biz/"><strong>Loudfarm</strong></a> - A music event site, in progress.</li>
            <li class=""><a href="http://iGrow.co.za"><strong>iGrow</strong></a> - A content management system built on Django.</li>
            <li class=""><a href="http://www.snapshopinc.com/"><strong>Snapshop Inc</strong></a> - Built the backend for one of the top 10 apps on the Apple store.</li>
        </ul>

    <h3 class="category">Defunct</h3>
        <ul>
            <li class=""><a href="http://www.melonstand.com"><strong>Melonstand</strong></a> - A forum based marketplace. </li>
            <li class=""><a href="http://priscillarenea.webfactional.com"><strong>Priscilla Renea </strong></a> - A community site for Ten Minute Media.</li>
            <li class=""><a href="http://julianneh.webfactional.com/"><strong>Julianne Hough </strong></a> - A community site for Ten Minute Media.</li>
            <li class=""><a href="http://typepad.waynebrady.com.s85894.gridserver.com"><strong>Wayne Brady </strong></a> - A community ste using Typepad motion for Ten Minute Media.</li>
        </ul>

{% endblock %}
