{% extends "theme/base.html" %}


{% block content %}
    <h2 class="category">Journals</h2>
    <ul class="list">
        <li>Siddharth Mitra, Mayank Agrawal, Amit Yadav, Niklas Carlsson, Derek Eager, and Anirban Mahanti, <strong>Characterizing Web-based Video Sharing Workloads</strong>, <i>ACM Transactions on the Web (TWEB)</i>, to appear. [<a href="http://www.cs.usask.ca/grads/nic169/papers/tweb10.pdf">pdf</a>] [<a href="http://www.cs.usask.ca/faculty/eager/TWeb10.html">data</a>]</li>
    </ul>

    <h2 class="category">Posters</h2>
    <ul class="list">
        <li>Siddharth Mitra, Mayank Agrawal, Amit Yadav, Niklas Carlsson, Derek Eager, and Anirban Mahanti, <strong>Characterizing Web-based Video Sharing Workloads</strong>, <i>Proc. International World Wide Web Conference (WWW '09)</i>, Madrid, Spain, Apr. 2009. [<a href="research/www09.pdf">pdf</a>] [<a href="research/www09.bib">bib</a>]</li>
    </ul>


    <h2 class="category">Dissertations and Reports</h2>
    <ul>
        <li >Siddharth Mitra, <strong>Characterising Online Video Sharing and its Dynamics</strong>, M.Tech Thesis, Department of Computer Science and Engineering, Indian Institute of Technology, Jul. 2009. [<a href="research/mitra_mtechThesis.pdf">pdf</a>] [<a href="research/mitra_mtechThesis.bib">bib</a>]</li>
    </ul>
{% endblock %}
