<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "meta.html" . }}
    {{/* <base href="{{ .Site.BaseURL }}">  */}}
    <title>
      {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
      {{ if eq $url "/" }}
      {{ .Site.Title }}
      {{ else }}
      {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }} - {{ .Site.Params.author }}
      {{ end }}
    </title>
    <link rel="canonical" href="{{ .Permalink }}">

    <!-- HTTPS -->
    <script type="text/javascript">
     var baseURL = '{{ .Site.BaseURL }}';
     var host = baseURL.substring(0, baseURL.length - 1).replace(/\//g, '');
     if ((host === window.location.host) && (window.location.protocol !== 'https:')) {
       window.location.protocol = 'https:';
     }
    </script>

    <!-- CSS -->
    {{ if .Site.Params.highlightjs }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
    {{ end }}

    {{ if eq true .Site.Params.cachebuster }}

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/pygments.css">
    <link rel="stylesheet" href="/css/main.css">

    {{ range .Site.Params.extracssfiles }}
    <link rel="stylesheet" href="{{.}}">
    {{ end }}

    {{ else }}

    <link rel="stylesheet" href="/css/reset.css?{{ .Now.Unix }}">
    <link rel="stylesheet" href="/css/pygments.css?{{ .Now.Unix }}">
    <link rel="stylesheet" href="/css/main.css?{{ .Now.Unix }}">

    {{ range .Site.Params.extracssfiles }}
    <link rel="stylesheet" href="{{.}}?{{ .Now.Unix }}">
    {{ end }}

    {{ end }}

    <!-- Icon -->
    <link rel="shortcut icon"
          {{ if .Site.Params.faviconfile }}
          href="/{{ .Site.Params.faviconfile }}"
          {{ else }}
          href="/img/favicon.ico"
          {{ end }}
    >

    <!-- RSS -->
    {{ with .OutputFormats.Get "RSS" }}
    <link href='{{ .RelPermalink }}' rel="alternate" type="application/rss+xml"/>
    {{ end }}

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>


  <body lang="{{ .Site.Params.lang }}">

    <section class="header">
      <div class="container">
        <div class="content">
          {{ if .Site.Params.gravatar }}
          <a href="/"><img class="avatar" src="https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=50" /></a>
          {{ else if .Site.Params.avatar }}
          <a href="/"><img class="avatar" src="/{{ .Site.Params.avatar }}" /></a>
          {{ end }}
          <a href="/"><div class="name">{{ .Site.Params.author }}</div></a>
          <nav>
            <ul>
              <a href="/"><li>Home</li></a>
              <a href="/portfolio/"><li>Portfolio</li></a>
              <a href="/research/"><li>Research</li></a>
              <!-- <a href="/blog/"><li>Blog</li></a> -->
            </ul>
          </nav>
        </div>
      </div>
    </section>

    <section class="icons">
      <div class="container">
        <div class="content">
          {{ if .Site.Params.github }}
          <a href="{{ .Site.Params.github }}" target="_blank">
            <ion-icon name="logo-github" size="small" title="Github"></ion-icon>
          </a>
          {{ end }}

          {{ if .Site.Params.mastodon }}
          <a href="{{ .Site.Params.mastodon }}">
            <ion-icon name="logo-mastodon" size="small" title="Mastodon"></ion-icon>
          </a>
          {{ end }}

          {{ if .Site.Params.twitter }}
          <a href="{{ .Site.Params.twitter }}" target="_blank">
            <ion-icon name="logo-twitter" size="small" title="Twitter"></ion-icon>
          </a>
          {{ end }}

          {{ if .Site.Params.linkedin }}
          <a href="{{ .Site.Params.linkedin }}" target="_blank">
            <ion-icon name="logo-linkedin" size="small" title="Linkedin"></ion-icon>
          </a>
          {{ end }}

          {{ if .Site.Params.email }}
          <a href="mailto:{{ .Site.Params.email }}">
            <ion-icon name="mail" size="small" title="email"></ion-icon>
          </a>
          {{ end }}

          {{ with .OutputFormats.Get "RSS" }}
          <a href="{{ .RelPermalink }}">
            <ion-icon name="logo-rss" size="small" title="RSS"></ion-icon>
          </a>
          {{ end }}
        </div>
      </div>
    </section>
